


html {
width: auto;
margin: auto;
padding: 0px;
}


body {
margin: 20px;
width: auto;
font-size: 20px !important;
}


img { 
border: 0; 
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 1.6rem !important;
    margin-bottom: 1.6rem !important;
    font-weight: 500 !important;
    line-height: 1.5 !important;
}


/* .less_margins AFTER .hX CSS, to override */

.less_margins  {
    margin-top: 0.7rem !important;
    margin-bottom: 0.7rem !important;
}


p, h3 { 
word-break: normal;
margin-bottom: 10px;
}


code { 
padding: 0em !important;
margin: 0px;
    background: hsl(220, 80%, 90%); 
}

pre {
    white-space: pre-wrap;
    background: hsl(30,80%,90%);
}


html, p {	
font-family: sans-serif !important;
font-size: 18px !important;
}


a {
text-decoration: underline;
}


.long_linebreak { 
display: inline-block;
max-width: 350px;
word-wrap: break-word;
text-align: center;
}

.main_links {
margin: 30px;
}

.main_links a {
font-weight: bold; font-size: 20px;
}

li.feature {
margin-bottom: 45px;
}

img.thumbs {
margin: 15px;
vertical-align: top;
border-radius:5px;
border:thin solid #333;
margin:5px;
cursor:pointer;
opacity:.95;
}


img.thumbs:hover{
opacity:1;
}


.bitcoin {
color: #dd7c0d !important;
}


.clear_both {
clear: both;
}


.align_left {
text-align: left;
}


.align_center {
text-align: center;
}


.align_right {
text-align: right;
}


.tooltip_title {
position: relative; 
white-space: nowrap; 
text-align:center;
}


.yellow {
color: #ffb83f !important;
}

.red {
color: red;
}


.coin_info {
margin: 13px;
white-space: nowrap;
}


.underline_pointer {
text-decoration: underline;
color: #007bff;
cursor: pointer;
}


.pointer {
cursor: pointer;
}



.image_border {
border-radius: 15px;
border: 2px solid #606060; 
}

